body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf1cf;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  height: 80%;
  width: 60%;
  margin-left: 20px;
  background-color: #d9e8a4;
  padding: 15px;
  display: inline-block;
}

p {
  color: red;
  margin-top: 15px;
  margin-bottom: 0px;
}

h3 {
  font-size: medium;
  margin-top: 15px;
  margin-bottom: 0px;
}

.btn {
  margin-top: 15px;
  width: 100px;
}

label {
  color: #465317;
}
