body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222629;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #6b6e70;
}

.navbar-brand {
  color: #86c232;
}

.nav-link {
  color: white;
}

.home-margin {
  margin-top: 15px;
}

form {
  height: 80%;
  width: 60%;
  margin-left: 20px;
  background-color: #6b6e70;
  padding: 15px;
  display: inline-block;
}

p {
  color: red;
  margin-top: 15px;
  margin-bottom: 0px;
}

h3 {
  font-size: medium;
  margin-top: 15px;
  margin-bottom: 0px;
}

.btn {
  width: 100px;
}

.btn-primary {
  background-color: #86c232;
  border-color: #86c232;
}

.btn-primary:hover {
  background-color: #61882f;
  border-color: #86c232;
  color: #222629;
}

.btn-secondary {
  background-color: #474b4f;
  border-color: #222629;
}

.btn-secondary:hover {
  background-color: #222629;
  border-color: #474b4f;
  color: #474b4f;
}

label {
  color: white;
}

.grey-background {
  background-color: #474b4f;
}

.view-individual-log-top-row {
  height: 80px;
  width: 100%;
  color: #86c232;
}
